html, body, h1, h2, h3, h4, h5, h6, p {
	padding: 0;
	margin: 0;
}

body {
font-family: Raleway;
font-size: 14px;
color: #2d2d2d;
}

h1, h2, h3, h4, h5, h6 {
	font-family: PlayfairDisplay;
}

p { 
	font-size: 30px;
}

ul {
	list-style: none;
}

li {
	display: inline;
}

.mobile-hide {
	display: none;
}

.nav-image {
 	height: 100px;
 	width: auto;
}
.product-image {
	height: auto;
	width: 100%;
}

.font-xl {
	font-size: 70px;
}

.font-lrg{
	font-size: 40px;
}

.font-md {
	font-size: 25px;
}

.font-sm {
	font-size: 12px;
}

.font-light {
	font-weight: 300;
}

.font-bold {
	font-weight: bold;
}

.font-italic {
	font-style: italic;
}

.font-style-normal {
	font-style: normal;
}

.font-uppercase {
	text-transform: uppercase;
}

.font-shadow {
	text-shadow: 2px 2px 5px #4f4f4f;
}

.line-height-lrg {
	line-height: 60px;
}

.font-light-grey {
	color: #969696;
}

.font-orange {
	color: #e2574c;
}

.bg-orange {
	background-color: #e2574c;
}

.bg-dark-grey {
	background-color: #242424
}

@font-face {
    font-family: PlayfairDisplay;
    src: url(../fonts/PlayfairDisplay-Bold.otf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: PlayfairDisplay;
    src: url(../fonts/PlayfairDisplay-BoldItalic.otf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: PlayfairDisplay;
    src: url(../fonts/PlayfairDisplay-Italic.otf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: PlayfairDisplay;
    src: url(../fonts/PlayfairDisplay-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-MediumItalic.ttf);
    font-weight: normal;
    font-style: italic;
}

.font-family-raleway {
	font-family: Raleway;
}

.font-family-playfair {
	font-family: PlayfairDisplay;
}

.cover-image {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),  url(../images/banner-girl.png) center bottom no-repeat, url(../images/flower-bkgd.jpg) center center;
	background-size: cover, auto 85%, cover;
	height:850px;
}

.newsletter-bg {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/wave-bkgd.jpg)center bottom;
	background-size: 270%;
}

.font-white {
	color: #fff;
}

.text-center {
	text-align: center;
}

.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-col {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-justify-center {
	justify-content: center;
}

.flex-align-center {
	align-items: center;
}

.flex-space-between {
	justify-content: space-between;
}

.flex-justify-space-around {
	justify-content: space-around;
}

.flex-align-space-around {
	align-content: space-between;
}
.section-padding {
	padding: 100px 30px;
}

.padding-bottom-lrg {
	padding-bottom: 40px;
}

.md-padding {
	padding: 30px;
}

.sm-padding {
	padding: 20px;
}

.lrg-padding-vert {
	padding: 60px 0;
}

.md-padding-vert {
	padding: 40px 0;
}

.sm-padding-vert {
	padding: 30px 0;
}

.lrg-padding-top {
	padding-top: 60px;
}

.md-padding-top {
	padding-top: 40px;
}

.sm-padding-top {
	padding-top: 20px;
}

.sm-padding-bottom {
	padding-bottom: 20px;
}

.md-padding-horizontal {
	padding: 0 40px;
}

.xs-padding-horizontal {
	padding: 0 20px;
}

.border-bottom-dark {
	border-bottom: 1px solid #d7d7d7;
}

.border-bottom-light {
	border-bottom: 15px solid #fff;
}

.border-radius {
	border: none;
}

input[type=text] {
	border-radius: 100px;
	width: 700px;
	padding: 25px 50px;
	border: none;
	font-size: 28px;
	font-family: Raleway;
}

input[type=submit] {
	margin-left: -223px;
	font-size: 28px;
	border-radius: 100px;
	font-family: Raleway;
	padding: 18px 40px;

}

@media only screen and (min-width: 600px) {

	body {
		font-size: 16px;
	}

	.tablet-desktop-row {
		flex-direction: row;
		align-items: flex-start;
	}

	.tablet-desktop-col {
		flex-direction: column;
		align-items: flex-start;
	}

	.text-left {
		text-align: left;
	}

	.tablet-desktop-show {
		display: initial;
	}

	.tablet-desktop-no-padding {
		padding: 0;
	}

	.product {
		width: 40%;
	}
}


@media only screen and (min-width: 1240px) {

	.product {
		width: 25%;
	}

	.desktop-section-padding-horizontal {
		padding-right: 300px;
		padding-left: 300px;
	}

	.desktop-section-padding-vertical {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.newsletter-bg {
		background-size: cover;
	}

	.font-xl {
		font-size: 45px;
	}

	p {
		font-size: 22px;
	}

	.border-bottom-light {
		border-bottom: 10px solid #fff;
	}	

	input[type=text] {
		border-radius: 100px;
		width: 450px;
		padding: 15px 40px;
		border: none;
		font-size: 22px;
		font-family: Raleway;
	}

	input[type=submit] {
		margin-left: -172px;
		font-size: 22px;
		border-radius: 100px;
		font-family: Raleway;
		padding: 11px 30px;

	}

	.padding-bottom-lrg {
		padding-bottom: 15px;
	}

	.line-height-lrg {
		line-height: 45px;
	}

	.font-lrg {
	font-size: 28px;
	}

	.font-sm {
	font-size: 15px;
	}

	.sm-padding-vert {
		padding: 15px 0;
	}

	.font-md {
	font-size: 20px;
	}

}