html, body, h1, h2, h3, h4, h5, h5, p, form {
	padding: 0;
	margin: 0;
}

body {
	font-family: Raleway;
	font-size: 14px;
	font-color: #2d2d2d;
}

h1, h2, h3, h4, h5, h6 {
	font-family: PlayfairDisplay;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.2em;
}

nav {
	height: 40px;
	padding: 10px 8px;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color:#b64036;
}

/* percentage widths & heights */

.full-height {
	height: 100%;
	width: auto;
}

.full-width {
	width: 100%;
	height: auto;
}

.product {
	width: 75%;
}

/* backgrounds */

.jumbotron {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),  url(../images/banner-girl.png) 50% 140% no-repeat, url(../images/flower-bkgd.jpg) center center;
	background-size: cover, auto 88%, cover;
	height:330px;
}

.newsletter {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/wave-bkgd.jpg)center bottom;
	background-size: auto 260%;
}

.bg-color-orange {
	background-color: #e2574c;
}

.bg-dark-grey {
	background-color: #242424
}

/* @font-face imports */

@font-face {
    font-family: PlayfairDisplay;
    src: url(../fonts/PlayfairDisplay-Bold.otf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: PlayfairDisplay;
    src: url(../fonts/PlayfairDisplay-BoldItalic.otf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: PlayfairDisplay;
    src: url(../fonts/PlayfairDisplay-Italic.otf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: PlayfairDisplay;
    src: url(../fonts/PlayfairDisplay-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-MediumItalic.ttf);
    font-weight: normal;
    font-style: italic;
}

/* font/text declarations */

.font-family-playfair {
	font-family: PlayfairDisplay;
}

.sm-font {
	font-size: 0.7em;
}

.md-font {
	font-size: 0.9em;
}

.font-line-height-lrg {
	line-height: 1.9em;
}

.text-center {
	text-align: center;
}

.text-underline {
	text-decoration: underline;
}

.font-uppercase {
	text-transform: uppercase;
}

.font-bold {
	font-weight: bold;
}

.font-italic {
	font-style: italic;
}

.font-style-normal {
	font-style: initial;
}

.font-shadow {
	text-shadow: 2px 2px 5px #4f4f4f;
}

.font-white {
	color: #fff;
}

.font-orange {
	color: #e2574c;
}

.font-light-grey {
	color: #969696;
}

.font-weight-light {
	font-weight: 300;
}

/* padding declarations */

.section-padding {
	padding: 10px 8px;
}

.sm-padding-vert {
	padding-top: 15px;
	padding-bottom: 15px;
}

.lrg-padding-vert {
	padding-top: 40px;
	padding-bottom: 40px;
}

.xs-padding-horizontal {
	padding-left: 8px;
	padding-right: 8px;
}

.lrg-padding-bottom {
	padding-bottom: 50px;
}

.xs-padding-bottom {
	padding-bottom: 15px;
}

.sm-padding-bottom {
	padding-bottom: 20px;
}

.md-padding-bottom {
	padding-bottom: 30px;
}


/* border declarations */

.border-bottom-dark {
	border-bottom: 1px solid #d7d7d7;
}

.border-bottom-light {
	border-bottom: 7px solid #fff;
}

.border-none {
	border: none;
}

/* flex declarations */

.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-col {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-justify-between {
	justify-content: space-between;
}

.flex-justify-around {
	justify-content: space-around;
}

.flex-justify-center {
	justify-content: center;
}

.flex-align-items-center {
	align-items: center;
}

/* display properties */

.mobile-hide {
	display: none;
}

/* form styling */

input[type=text] {
	border-radius: 100px;
	width: 320px;
	padding: 10px 20px;
	border: none;
	font-size: 0.9em;
	font-family: Raleway;
}

button {
	margin-left: -98px;
	font-size: 0.9em;
	border-radius: 100px;
	font-family: Raleway;
	padding: 8px 16px;
	border: none;
	-webkit-appearance: none;
}

/* Media Queries */

@media only screen and (min-device-width: 600px) and (max-device-width: 1239px), only screen and (min-width: 600px) and (max-width: 1239px){
 
	.section-padding {
		padding: 16px 20px;
	}

	.tablet-section-padding-horizontal {
		padding-left: 20px;
		padding-right: 20px;
	}

	.no-padding-tablet {
		padding: 0px;
	}

	.font-line-height-sm {
		line-height: 1em;
	}

	.newsletter {
		background-size: auto 230%;
	}

}

@media only screen and  (min-device-width: 600px) and (min-width: 600px) {

	body {
		font-size: 16px;
	}

 	p {
		font-size: 1.1em;
	}

	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 2.5em;
	}

	h3 {
		font-size: 1.4em;
	}

	nav {
		height: 55px;
		padding: 18px 12px;
	}

	.sm-font-tablet-desktop {
		font-size: .7em;
	}

	.md-font-tablet-desktop {
		font-size: 1em;
	}

	.font-line-height-lrg {
		line-height: 2.1em;
	}

	.icon-font {
		font-size: 1em;
		padding-top: 6px;
		padding-bottom: 6px;
	}


	.text-align-left {
		text-align: left;
	}

	.sm-padding-vert {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.lrg-padding-vert {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	
	.jumbotron {
		height: 400px;
	}

	.product {
		width: 40%;
	}

	.tablet-desktop-show {
		display: initial;
	}

	.tablet-desktop-flex-row {
		flex-direction: row;
	}

	.tablet-desktop-flex-col {
		flex-direction: column;
	}

		input[type=text] {
		width: 380px;
		padding: 14px 30px;
		font-size: 1em;
	}

		button {
		margin-left: -129px;
		padding: 11px 23px;
		font-size: 1em;
		-webkit-appearance: none;
	}

}

@media only screen and  (min-device-width: 1240px) and (min-width: 1240px) {

	nav {
		height: 60px;
		padding: 20px 20px;
	}

	h1 {
		font-size: 4em;
	}

	.jumbotron {
		height: 550px;
	}

	.product {
		width: 22%;
	}

	.desktop-footer-padding-horizontal {
		padding-left: 20px;
		padding-right: 20px;
	}

	.desktop-section-padding-horizontal {
		padding-left: 300px;
		padding-right: 300px;
	}

	.tablet-desktop-padding-right {
		padding-right: 60px;
	}

	.no-padding-desktop {
		padding: 0px;
	}

		input[type=text] {
		width: 440px;
	}

		button {
		margin-left: -129px;
		font-size: 1em;
		padding: 10px 23px;
	}

}